<%- include('templates/head'); -%>
<%- include('templates/header'); -%>

<aside class="spacer left"></aside>

<main class="home-container">
    <section class="brand-section">
        <img class="brand" src="./src/logo-color.png">
    </section>
    <div class = home-additional>
        <section class="greeting">
            <h1>Welcome to Haze</h1>
            <p>Buy and sell your favorite games.</p>
        </section>
        <section class="cta">
            <h2>Start browsing the most popular games now!</h2>
            <a href="/items" class="btn btn-primary">Buy Now</a>
        </section>
    </div>
</main>

<aside class="spacer right"></aside>

<%- include('templates/footer'); -%>