<aside class="spacer right"></aside>
<footer class="footer">
    <!-- Footer content here -->
    <p>Haze &copy</p>
    <ul class="footerlinks">
        <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://www.snapchat.com"><i class="fa-brands fa-snapchat"></i></a></li>
        <li><a href="https://www.discord.com"><i class="fa-brands fa-discord"></i></a></li>
</footer>
</body>
</html>