<%- include('../templates/head'); -%>
<%- include('../templates/header'); -%>

<aside class="spacer left"></aside>

<main class="confirmation-container">
    <h2>Your offer has been placed.</h2>
</main>
<aside class="spacer right"></aside>

<%- include('../templates/footer'); -%>